body {
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #1A2C38;
}

.header-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1A2C38;
	padding: 6px 15px;
	color: #FFFFFF;
	font-family: 'Proxima Nova', sans-serif;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.logo {
	position: absolute;
	top: 10px;
	left: 360px;
	color: #FFFFFF;
}

.logo svg {
	width: 70px;
	height: auto;
	display: block;
	fill: #FFFFFF;
}

.balance-wrapper {
	display: flex;
	align-items: center;
	background-color: #0F212E;
	border-radius: 4px;
	overflow: hidden;
	transition: background-color 0.2s ease;
}

.balance-wrapper:hover {
	background-color: #071824;
}

.svg-icon {
	width: 14.5px;
	height: 14.5px;
	vertical-align: middle;
	fill: #BFBBBB;
	transition: fill 0.2s ease;
}

.svg-icon:hover {
	fill: #fff;
}

.balance-container {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 2px 12px;
	background-color: #0F212E;
	transition: background-color 0.2s ease;
}

.balance-container:hover {
	background-color: #071824;
}

.dropdown-icon {
	font-size: 0.7em;
	color: #AAAAAA;
}

.balance {
	font-size: 1em;
	font-weight: bold;
}

.currency-icon {
	font-size: 0.9em;
	color: #AAAAAA;
}

.wallet-button {
	background-color: #1475E1;
	color: #fff;
	border: none;
	padding: 15px 15px;
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 600;
	font-size: 14px;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.wallet-button:hover {
	background-color: #105EB4;
}

.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.popup {
	background-color: #213743;
	padding: 20px;
	border-radius: 8px;
	text-align: center;
	width: 300px;
	position: relative;
}

.popup h3 {
	color: #fff;
	margin-top: 0;
}

.popup input {
	width: 93%;
	padding: 8px;
	font-size: 14px;
	background-color: #0F212E;
	color: #d1d4db;
	border: none;
	border-radius: 4px;
	margin-bottom: 10px;
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 600;
	outline: none;
	text-align: left;
	border: 2px solid transparent;
	transition: border 0.2s;
}

.popup input:hover {
	border: 2px solid #5e7d96;
}

.popup input::placeholder {
	color: #5e7d96;
}

.popup button {
	background-color: #00E701;
	color: black;
	border: none;
	padding: 15px;
	width: 100%;
	border-radius: 4px;
	cursor: pointer;
	font-family: 'Proxima Nova', sans-serif;
	font-weight: bold;
}

.popup button:hover {
	background-color: #1FFF20;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.bet-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: #213743;
	padding: 15px;
	border-radius: 8px 0 0 0;
	box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
	color: #d1d4db;
	min-width: 300px;
	width: 300px;
	min-height: 680px;
}

.mode-switch {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0F212E;
	border-radius: 50px;
	padding: 5px;
	margin-bottom: 15px;
	gap: 5px;
}

.multiplier-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #0F212E;
	border-radius: 0 8px 0 0;
	height: 100%;
	min-height: 710px;
	box-sizing: border-box;
	flex: 1;
	position: relative;
}

.multiplier-top {
	padding-top: 200px;
	padding-bottom: 20px;
}

.multiplier-value {
	font-size: 8em;
	font-weight: bold;
	color: #FFFFFF;
}

.multiplier-inputs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	width: 100%;
	max-width: 800px;
	margin: auto;
}

label {
	font-size: 14px;
	color: #d1d4db;
	margin-right: 10px;
	white-space: nowrap;
}

.input-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #0F212E;
	border: 2px solid #9dc7e92d;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	transition: border 0.2s;
}

.input-wrapper:hover {
	border: 2px solid #5e7d96;
}

.input-wrapper-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	width: 100%;
}

.input-wrapper-group label {
	font-size: 14px;
	color: #d1d4db;
	margin-bottom: 5px;
	font-weight: 600;
	text-align: left;
	width: 100%;
}

.input-wrapper input {
	padding: 8px;
	border: none;
	border-radius: 3px 0 0 3px;
	font-size: 14px;
	background-color: transparent;
	color: #d1d4db;
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 600;
	flex: 1;
	outline: none;
	text-align: left;
	box-sizing: border-box;
}

.input-wrapper .suffix {
	font-size: 16px;
	color: #d1d4db;
	background-color: #0F212E;
	padding: 0 10px;
	border-radius: 0 3px 3px 0;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom-group {
	margin-top: 140px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	background-color: #213743;
	padding: 15px;
	border-radius: 4px;
	border: 2px solid transparent;
	width: 100%;
	box-sizing: border-box;
	flex-shrink: 0;
}

.custom-group .input-wrapper-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
}

.custom-group label {
	display: block;
	font-size: 14px;
	color: #B1BAD3;
	margin-bottom: 5px;
	font-weight: 600;
	text-align: left;
	width: 100%;
}

.custom-group input {
	padding: 8px;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	background-color: #0F212E;
	color: #eef0f5;
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 600;
	width: 100%;
	outline: none;
	text-align: left;
	border: 2px solid transparent;
	transition: border 0.2s;
}

.custom-group input::placeholder {
	text-align: left;
	color: #5e7d96;
}

.separator {
	width: 1px;
	height: auto;
	background-color: #2d3743;
	margin: 0 -15px;
}

.suffix {
	font-size: 16px;
	color: #d1d4db;
	margin-left: 8px;
}

.multiplier {
	font-size: 8em;
	font-weight: bold;
	color: #FFFFFF;
}

.input-group {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	background-color: #2F4553;
	border: 2px solid #8ec0e904;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	padding: 5px;
	border-radius: 3px;
	transition: border 0.2s;
}

.input-group svg {
	width: 16px;
	height: 16px;
	margin-left: 8px;
	flex-shrink: 0;
	fill: #BFBBBB;
}

.input-group:hover {
	border: 2px solid #5e7d96;
}

.input-group input {
	padding: 8px;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	background-color: #0F212E;
	color: #eef0f5;
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 600;
	flex: 1;
	outline: none;
}

.input-group label {
	display: block;
	font-size: 14px;
	color: #d1d4db;
	margin-bottom: 5px;
	font-weight: 600;
	text-align: left;
	width: 100%;
}

.input-group button {
	background-color: #2F4553;
	border: none;
	padding: 8px 12px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 2px;
	color: #ffffff;
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 600;
}

.input-group button:hover {
	background-color: #557086;
}

.zseparator {
	width: 1px;
	background-color: #2d3743;
	margin-left: 10px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	font-size: 13px;
	color: #B1BAC5;
}

.profit-group {
	display: flex;
	align-items: center;
	background-color: #2F4553;
	border: 2px solid #8ec0e904;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	padding: 5px;
	border-radius: 3px;
	width: 100%;
	box-sizing: border-box;
	transition: border 0.2s;
}

#profit-on-win {
	color: #eef0f5;
}

.profit-group:hover {
	border: 2px solid #5e7d96;
}

.profit-group input {
	flex: 1;
	padding: 8px;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	background-color: #2F4553;
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 600;
	outline: none;
	pointer-events: none;
}

.input-group input::placeholder {
	color: #e8eaf5;
}

.profit-group input::placeholder {
	color: #e8eaf5;
}

.profit-group svg {
	width: 16px;
	height: 16px;
	flex-shrink: 0;
	transform: translateX(-5px);
}

.bet-button {
	background-color: #00E701;
	color: black;
	padding: 15px;
	border: none;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 3px;
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 600;
	width: 100%;
	margin-top: 15px;
	transition: padding 0.1s ease-in-out, width 0.1s ease-in-out;
}

.bet-button:hover {
	background-color: #1FFF20;
}

.bet-button:active {
	width: 99%;
	padding: 14px;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.fairness-button {
	background-color: transparent;
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 600;
	color: #B1BAD3;
	border: none;
	padding: 8px 15px;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
	transition: color 0.2s ease;
}

.fairness-button:hover {
	color: #e9edf8;
}

#settings-tooltip {
	position: absolute;
	bottom: calc(100% + 10px);
	left: 0;
	display: none;
	flex-direction: row;
	align-items: center;
	background-color: #ffffff;
	padding: 8px 16px;
	border-radius: 8px;
	z-index: 1000;
}

#settings-tooltip.show {
	display: flex;
}

#settings-tooltip svg {
	width: 24px;
	height: 24px;
	margin-right: 10px;
	fill: #2F4553;
	transition: fill 0.1s ease;
}

#settings-tooltip span {
	color: #2F4553;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 14px;
	font-weight: 600;
	transition: color 0.1s ease;
}

#settings-tooltip.active svg {
	fill: #1475E1;
}

#settings-tooltip.active span {
	color: #1475E1;
}

.game-footer {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0F212E;
	padding: 10px 20px;
	border-radius: 0 0 8px 8px;
}

.footer-left,
.footer-right {
	display: flex;
	align-items: center;
	gap: 15px;
}

.footer-button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 10px;
	border-radius: 4px;
	transition: background-color 0.2s ease, fill 0.2s ease;
	position: relative;
}

.footer-button:hover svg {
	fill: #ffffff;
}

.footer-button svg {
	fill: #B1BAD3;
	transition: fill 0.2s ease;
}


.mode-button {
	flex: 1;
	padding: 10px;
	background-color: #0F212E;
	color: #f5f5f5;
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 600;
	border: none;
	cursor: pointer;
	text-align: center;
	border-radius: 50px;
	transition: background-color 0.2s ease;
}

.mode-button.active {
	background-color: #2F4553;
}

.mode-button:hover {
	background-color: #557086;
}


.auto-input-group {
	position: relative;
	display: flex;
	align-items: center;
	background-color: #0F212E;
	border-radius: 4px;
	border: 2px solid #9dc7e92d;
	transition: border 0.2s ease-in-out;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 14px;
	color: #d1d4db;
	margin-bottom: 10px;
}

.auto-input-group:hover {
	border-color: #5e7d96;
}

.auto-input-group input {
	flex: 1;
	background: transparent;
	border: none;
	outline: none;
	font-size: 14px;
	color: #d1d4db;
	font-family: 'Proxima Nova', sans-serif;
}

.auto-input-group svg {
	position: absolute;
	right: 10px;
	width: 16px;
	height: 16px;
	fill: #B1BAD3;
	pointer-events: none;
}

.auto-input-group:hover svg {
	fill: #ffffff;
}

.auto-input-group-label {
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 600;
	color: #B1BAD3;
}

.auto-input-group input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: none;
	appearance: none;
}

.auto-input-group input[type="number"]::-webkit-inner-spin-button,
.auto-input-group input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


.auto-input-group-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.auto-input-group-label {
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 600;
	color: #B1BAD3;
	text-align: left;
}

.auto-input-group {
	display: flex;
	align-items: center;
	position: relative;
	padding: 10px;
	background-color: #0F212E;
	border-radius: 4px;
	border: 2px solid #9dc7e92d;
	transition: border-color 0.2s ease-in-out;
	font-family: 'Proxima Nova', sans-serif;
}

.auto-input-group:hover {
	border-color: #5e7d96;
}

.auto-input-group-conditions {
	display: flex;
	align-items: center;
	position: relative;
	padding: 1px;
	background-color: #2F4553;
	border-radius: 4px;
	border: 2px solid #9dc7e910;
	font-family: 'Proxima Nova', sans-serif;
	gap: 3px;
}

.win-button {
	flex: 0 0 auto;
	background-color: transparent;
	color: white;
	border: none;
	padding: 10px 10px;
	border-radius: 4px;
	cursor: pointer;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 14px;
	font-weight: 600;
	transition: background-color 0.2s ease, color 0.2s ease;
}

.win-button.active {
	background-color: #0F212E;
	color: #B1BAD3;
}

.win-button:not(.active):hover {
	background-color: #557086;
}


.increase-container {
	flex: 1;
	position: relative;
}

.increase-container input {
	width: 100%;
	padding: 8px;
	padding-right: 25px;
	border: none;
	outline: none;
	border-radius: 4px;
	background-color: #0F212E;
	color: #d1d4db;
	text-align: left;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 14px;
	border: 2px solid transparent;
	transition: border-color 0.2s ease-in-out;
	box-sizing: border-box;
}

.increase-container input:enabled:hover {
	border-color: #5e7d96;
}

.increase-container input:disabled {
	background-color: #1E3340;
	color: #5e7d96;
	cursor: not-allowed;
}

.increase-container span {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
	color: #d1d4db;
	pointer-events: none;
}

.game-history {
	margin-top: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: 'Proxima Nova', sans-serif;
}

.game-history h3 {
	font-size: 1.5em;
	margin-bottom: 10px;
	color: #B1BAD3;
}

.history-list {
	position: absolute;
	top: 20px;
	right: 20px;
	display: flex;
	flex-direction: row-reverse;
	gap: 5px;
	align-items: flex-start;
	flex-wrap: wrap;
	max-width: calc(100% - 40px);
}

.history-item {
	padding: 9px 15px;
	border-radius: 64px;
	font-weight: bold;
	font-size: 11px;
	background-color: #0F212E;
	color: #FFFFFF;
	transition: transform 0.2s ease;
}

.history-item.win {
	background-color: #00E701;
	color: black;
	transition: background-color 0.2s ease;
}

.history-item.win:hover {
	background-color: #1FFF20;
}

.history-item.loss {
	background-color: #2F4553;
	color: white;
	transition: background-color 0.2s ease;
}

.history-item.loss:hover {
	background-color: #557086;
}


.live-stats {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-205%, -20%);
	width: 280px;
	background-color: #213743;
	color: #FFFFFF;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
	font-family: 'Proxima Nova', sans-serif;
	overflow: hidden;
	z-index: 10;
}

.live-stats span {
	color: #B1BAD3;
	font-size: 14px;
}

.stats-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	cursor: grab;
	background-color: #1A2C38;
	border-bottom: 1px solid #1A2F45;
}

.stats-title {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 1.1em;
	font-weight: bold;
	color: #B1BAD3;
}

.stats-icon {
	fill: #B1BAD3;
}

.close-stats {
	background: none;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 1.2em;
}

.stats-content {
	padding: 15px;
}

.stats-filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.stats-filter-button {
	background-color: #1A2F45;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	color: #FFFFFF;
	cursor: pointer;
}

.stats-filter-button.active {
	background-color: #00E701;
	color: black;
}

.stats-dropdown {
	padding: 13px 22px;
	background-color: #0F212E;
	font-family: 'Proxima Nova', sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: #FFFFFF;
	border: none;
	border-radius: 64px;
	appearance: none;
	position: relative;
}

.stats-refresh {
	background: none;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 1.2em;
}

.stats-overview {
	margin-bottom: 10px;
}

.stat-item {
	background-color: #0F212E;
	border-radius: 8px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.stats-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	position: relative;
}

.stat-column {
	display: flex;
	flex-direction: column;
	text-align: left;
	flex: 1;
}

.vertical-separator {
	position: absolute;
	left: 50%;
	top: 122px;
	width: 1px;
	height: 75px;
	background-color: #213743;
}

.stat-label {
	color: #B1BAD3;
	font-size: 13px;
}

.stat-value {
	font-weight: bold;
	font-size: 14px;
}

.stats-history {
	margin-top: 20px;
	height: 150px;
	overflow-y: auto;
	background-color: #0F212E;
	border-radius: 8px;
	padding: 5px;
	color: #B1BAD3;
}

.stats-refresh .svg-icon {
	width: 16px;
	height: 16px;
	transition: fill 0.2s ease;
}

.stats-refresh .svg-icon:hover {
	fill: #ffffff;
}
